KonoshenkoLab01/bin/
KonoshenkoLab01/obj/
KonoshenkoLab01/.vs/KonoshenkoLab01/v15/.suo
KonoshenkoLab01/.vs/KonoshenkoLab01/v15/Server/sqlite3/db.lock
KonoshenkoLab01/.vs/KonoshenkoLab01/v15/Server/sqlite3/storage.ide
KonoshenkoLab01/.vs/KonoshenkoLab01/v15/Server/sqlite3/storage.ide-shm
KonoshenkoLab01/.vs/KonoshenkoLab01/v15/Server/sqlite3/storage.ide-wal
